---
import Layout from "@layouts/layout.astro";

import { Image } from "astro:assets";
import blogImage from "@images/alienface.png";

import "@styles/blog.css";
---

<Layout>
  <h1>Alien Blog</h1>

  <a href="/blog/blog1/">
    <Image
      src={blogImage}
      class="img1"
      alt="宇宙人"
      transition:name="alienImg"
    />

    <a class="next" href="/blog/blog1/">BACK</a>
  </a>
</Layout>
