---
import Layout from "@layouts/layout.astro";

import { Image } from "astro:assets";
import alienImage from "@images/alien-aa1.jpg";

import "@styles/alien.css";
import "@styles/blog.css";
---

<Layout>
  <h1>This is an Alien!!</h1>
  <div>
    <a href="/alien/alien1/">
      <Image
        src={alienImage}
        class="aliensimg"
        alt="宇宙人"
        transition:name="alienImg"
      />
    </a>
  </div>

  <a class="next" href="/alien/alien1/">Back</a>
</Layout>
