---
import Layout from "@layouts/layout.astro";

import { Image } from "astro:assets";
import "@styles/alien.css";
import "@styles/blog.css";
---

<Layout>
  <h1>Is this an Alien?</h1>
  <div>
    <a href="/alien3/">
      <Image
        src="/src/images/main_back.jpg"
        class="aliensimg"
        alt="宇宙人"
        transition:name="alienImg"
        width="1000"
        height="700"
      /></a
    >
  </div>

  <a class="next" href="/alien3/">NEXT</a>
</Layout>
